env/
.env
*.json
reports/
__pycache__/
.pytest_cache/
*.db
# max env data
.env
logenv/
alembic/
winenv/
alembic.ini
package-lock.json
logs.db
logs.db-journal
logs.json
cloud-app/agent1-key.pem
logenv/
winenv/