fastapi
uvicorn
sqlalchemy
pydantic
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
boto3
python-dotenv
alembic
aiocache
azure-identity 
azure-monitor-query 
google-cloud-logging
elasticsearch[async]